@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import "tailwindcss";

/* Custom Theme Variables */
@theme {
    --font-size-course-details-heading-small: 30px;
    --line-height-course-details-heading-small: 40px;
    --font-size-course-details-heading-large: 40px;
    --line-height-course-details-heading-large: 48px;
    --font-size-home-heading-small: 46px;
    --line-height-home-heading-small: 52px;
    --font-size-home-heading-large: 66px;
    --line-height-home-heading-large: 74px;
    --font-size-default: 19px;
    --line-height-default: 25px;
}

/* Custom Font Sizes */
.text-home-heading-small {
    font-size: var(--font-size-home-heading-small);
    line-height: var(--line-height-home-heading-small);
}

.text-home-heading-large {
    font-size: var(--font-size-home-heading-large);
    line-height: var(--line-height-home-heading-large);
}

/* Custom Grid Columns */
.grid-cols-auto {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

/* Global Font */
* {
    font-family: Outfit;
}
